.bgc-1{background-color: #EEEBEB;}
.bgc-2{background-color:#555;}
.bgc-3{background-color:#777;}
.bgc-4{background-color:#999;}
.bgc-5{background-color:#ccc;}
.bgc-6{background-color:#fff;}

.fc-1{}
.fc-2{}
.fc-3{}
.fc-4{}